<include file="Public/header"/>
    <style type="text/css">
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      z-index: 10;
    }
    </style>
    <div class="row">
        <div class="overlay" id="overlay"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <!--条件查询-->
                <div class="ibox-title">
                    <h5>商户通道成功率</h5>
                    <div class="ibox-tools">
                        <i class="layui-icon" onclick="location.replace(location.href);" title="刷新"
                           style="cursor:pointer;">ဂ</i>
                    </div>
                </div>
                <!--条件查询-->
                <div class="ibox-content">
                    <form class="layui-form" action="" method="get" autocomplete="off" id="dataform">
                        <input type="hidden" name="m" value="<{$model}>">
                        <input type="hidden" name="c" value="Statistics">
                        <input type="hidden" name="a" value="merchantReport">
                        <input type="hidden" name="p" value="1">
                        <input type="hidden" name="rows" id="rows" value="<{$rows}>">
                        <div class="layui-form-item">
                            <label class="layui-form-label">商户号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="memberid" autocomplete="off" placeholder="请输入商户号"
                                       class="layui-input" value="<{$memberid}>">
                            </div>
                                <label class="layui-form-label">日期：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="date" id="date" placeholder="日期"  value="<{$date}>">
                                </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn"><span
                                        class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </div>
                        </div>
                    </form>
                    <blockquote class="layui-elem-quote" style="font-size:14px;padding;8px;">报告生成时间：<{:date('Y-m-d H:i:s')}></blockquote>
                    <table class="layui-table" lay-data="{width:'100%',limit:<{$rows}>,id:'userData'}">
                        <thead>
                        <tr>
                            <th lay-data="{field:'uid',width:120,style:'text-align:center;',fixed: true}">用户ID</th>
                            <th lay-data="{field:'username',width:120,style:'text-align:center;',fixed: true}">用户名</th>
                            <volist name="channel" id="cho">
                                <th lay-data="{field:'<{$cho.id}>',style:'text-align:center;',width:120}"><{$cho.title}></th>
                            </volist>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="vo" key="k">
                                <tr>
                                    <volist name="vo" id="cv" key="kk">
                                        <td><{$cv}><if condition="$kk gt 2">%</if></td>
                                    </volist>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                    <div class="page"><{$page}>
                        <!--<div class="layui-input-inline">-->
                        <!--    <form class="layui-form" action="" method="get" id="pageForm" autocomplete="off">-->

                        <!--        <select name="rows" style="height: 32px;" id="pageList" lay-ignore >-->
                        <!--            <option value="">显示条数</option>-->
                        <!--            <option <if condition="$rows neq '' && $rows eq 15">selected</if> value="15">15条</option>-->
                        <!--            <option <if condition="$rows eq 30">selected</if> value="30">30条</option>-->
                        <!--            <option <if condition="$rows eq 50">selected</if> value="50">50条</option>-->
                        <!--            <option <if condition="$rows eq 80">selected</if> value="80">80条</option>-->
                        <!--            <option <if condition="$rows eq 100">selected</if> value="100">100条</option>-->
                        <!--        </select>-->

                        <!--    </form>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer"/>
<script>

    layui.use(['form','table',  'laydate', 'layer'], function () {
        var form = layui.form
            ,table = layui.table

            , layer = layui.layer
            , laydate = layui.laydate;

        //日期时间范围
        laydate.render({
            elem: '#date'
            , type: 'date'
            ,theme: 'molv'
            , max: "{:date('Y-m-d')}"
        });
    });

    $('#pageList').change(function(){
        $('#rows').val($(this).val());
        $('#dataform').submit();
    });
    document.getElementById("dataform").onsubmit = function(event){
        // event.preventDefault(); // 阻止表单提交
        $('#overlay').show();
    }

</script>
</body>
</html>